<div>
	<p class="lead">Ask a Question </p>
	<input type="text" autofocus="autofocus">
  <%= link_to "Signup", '/signup', :method => :get %><br>
  <%= link_to "Login", '/login', :method => :get %><br>
</div>
